/* Footer.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #050606; /* Matching the color with the button */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  color: white; /* Set text color to white */
}

.socialMedia svg {
  color: white; /* Set icon color to white */
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white; /* Set text color to white */
}
