/* Home.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Saira", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #050606; /* Font color for headings */
  padding: 20px; /* Add padding */
}

.headerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Limit the width to prevent overflow */
}

.headerContainer h1 {
  font-size: 40px;
  margin-bottom: 40px; /* Adjusted margin to create more space between h1 and buttons */
  color: #ffffff; /* Set header text color to white */
}

.headerContainer button {
  margin: 10px;
  padding: 15px 20px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #050606; /* Button background color */
  color: #fdfdfd; /* Button text color */
  font-size: 20px;
  width: 200px; /* Fixed width for all buttons */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.headerContainer button:hover {
  background-color: #adb3bc; /* Change background color on hover */
}

@media only screen and (max-width: 650px) {
  .home {
    padding: 10px;
  }

  .headerContainer h1 {
    font-size: 30px;
  }

  .headerContainer button {
    font-size: 16px;
    width: 150px; /* Adjust width for smaller screens */
  }
}
