@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0e1ca; /* Background color */
  font-family: "Montserrat", sans-serif; /* Font family */
  color: #4b392f; /* Font color for headings */
  margin: 0; /* Remove default margin */
}

.headerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Limit the width to prevent overflow */
  padding: 20px;
}

.headerContainer h1 {
  font-size: 40px;
  margin-bottom: 40px; /* Adjusted margin to create more space between h1 and buttons */
}

.headerContainer button {
  margin: 10px;
  padding: 15px 0; /* Fixed padding top and bottom */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a8907d; /* Button background color */
  color: white; /* Button text color */
  font-size: 20px;
  width: 200px; /* Fixed width for all buttons */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.headerContainer button:hover {
  background-color: #4b392f; /* Change background color on hover */
}

@media only screen and (max-width: 650px) {
  .home {
    padding: 10px;
  }

  .headerContainer h1 {
    font-size: 30px;
  }

  .headerContainer button {
    font-size: 16px;
    width: 150px; /* Adjust width for smaller screens */
  }
}
