/*Navbar.css*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #050606; /* Updated background color to black */
  display: flex;
  flex-direction: row;
  color: white; /* Set text color to white */
  position: relative;

  
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 100px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 150px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }
}

/* Add styles for the button */
.navbar .rightSide button {
  background-color: #050606; /* Example background color */
  color: #fff; /* Example text color */
  border: 2px solid #050606; /* Example border color */
  padding: 10px 20px; /* Example padding */
  border-radius: 5px; /* Example border radius */
  cursor: pointer;
  margin: 0 10px; /* Example margin */
}

.navbar .rightSide button:hover {
  background-color: #050606; /* Example background color on hover */
  color: #ADB3BC; /* Example text color on hover */
}


